@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 20px;
}

h1 {
    text-align: center;
    color: white;
}

h1 a, h1 a:visited, h1 a:link {
    color: #f1f0e9;
    text-decoration: none;
}

h1 span a, h1 span a:visited, h1 span a:link {
    font-size: 10pt;
    color: #888;
    text-decoration: none;
}

.footer {
    text-align: center;
    color: #888;
    margin-top: 20px;
    font-size: 8pt;
}

.footer a {
    color: #888;
    font-weight: bold;
    text-decoration: underline;
}

.feed-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {
    .feed-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 850px) {
    .feed-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

@media (max-width: 529px) {
    .feed-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}

.feed-element {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #181717;
    color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    width: 240px;
    font-size: 10pt;
}

.feed-element a, .feed-element a:visited {
    color: #e5cc10;
    text-decoration: none;
}

.feed-element a.oneliner {
    color: white;
}

.feed-element-image {
    width:240px;
    height:160px;
    vertical-align:middle;
    margin-bottom:5px;
}

.newspaper {
    background-color: #1A2424;
    margin: 20px;
    font-family: Arial, sans-serif;
    color: white;
}

.newspaper .newspaper-headline {
    width: max-content;
    text-align: center;
    font-size: 24pt;
    background-color: darkslategray;
    color: #F1F0E9;
    border-radius: 16px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 0.4em;
    padding: 20px;
}

.newspaper-container {
    display: flex;
    justify-content: center;
}

.newspaper .newspaper-headline span {
    font-size: 10pt;
}

.newspaper .newspaper-headline a, .newspaper .newspaper-headline a:visited, .newspaper .newspaper-headline a:link {
    color: #F1F0E9;
    text-decoration: none;
}

.columns {
    column-width: 260px;
    column-gap: 2rem;
    padding: 10px;
    column-rule: 1px solid antiquewhite
}

.article-element {
    background-color: darkslategray;
    break-inside: avoid;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 16px;
}

.article-element a, .article-element a:visited {
    color: #e5cc10;
    text-decoration: none;
}

.article-element a.oneliner {
    color: #C7E5E2;
}

.article-element img {
    display: block;
    /*width: 100%;*/
    max-width: 240px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
    margin-bottom: 5px;
    filter: drop-shadow(0 4px 8px rgba(0,0,0,0.5));
}